# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/

# Environment variables
.env

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Pycharm
.idea/

# Poetry
poetry.lock
